<div class="signin-component">
  <h1>Connectez vous !</h1>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="signin-component__form">

    <mat-form-field>
      <input type="text" formControlName="mail" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input type="text" formControlName="psw" matInput placeholder="Mot de Passe">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Connexion</button>
  </form>
  <span>{{errorMessage}}</span>
</div>
