<div class="new-post-component">
  <h1>Ajouter un Post !</h1>
  <form [formGroup]="postForm" (submit)="savePost()" class="new-post-component__form">

    <mat-form-field>
      <input formControlName="title" matInput placeholder="Titre">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="author" matInput placeholder="Auteur">
    </mat-form-field>

    <mat-form-field>
      <textarea formControlName="content" matInput placeholder="Contenu"></textarea>
    </mat-form-field>
    <div class="new-post-component__form-upload">
      <label for="singleFile" class="mat-raised-button">Uploader une image</label>
      <input id="singleFile" type="file" (change)="detectFiles($event)" accept="image/*"/>
    </div>
    <button mat-raised-button color="primary" [disabled]="!fileUploaded && fileIsUploading" type="submit">Ajouter le post</button>
  </form>
</div>
