.new-post-component {
  width: 50%;

  &__form {
    display: flex;
    flex-direction: column;

    &-upload {
      margin: 20px 0;
      width: 40%;

      input {
        display: none;
      }

      label {
        padding: 10px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        cursor: pointer;
        color: #000;
        border-radius:4px;
      }
    }
  }
}
