<div class="create-user-component">
  <h1>Créez votre compte !</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="create-user-component__form">

      <mat-form-field>
        <input type="text" formControlName="mail" matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="psw" matInput placeholder="Mot de Passe">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Je crée mon compte</button>
    </form>
  <span>{{errorMessage}}</span>
</div>
