.post-list-component {

  &__card-content {
    max-height: 140px;
    overflow: hidden;
  }

  &__card{
    .mat-card-image{
      width:100%;
    }
  }

  &__card-actions {
    display: flex;
    flex-wrap: wrap-reverse;

    .mat-raised-button {
      flex: 100%;
    }

  }
}

.grid-item {
  width: 24%;
  margin-bottom:10px;
}

