<div class="post-list-component grid">
  <ngx-masonry [options]="myOptions" [useImagesLoaded]="true">
    <div class="post-list-component__posts grid-item masonry-item" ngxMasonryItem *ngFor="let post of posts">
      <mat-card class="post-list-component__card ">
        <mat-card-header>
          <div mat-card-avatar class="post-list-component__card-image"></div>
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-subtitle>
          <span>
            {{post.author}}
          </span>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="post.photo" alt="Photo of a Shiba Inu">
        <mat-card-content class="post-list-component__card-content">
          <p>
            {{post.content}}
          </p>
        </mat-card-content>
        <mat-card-actions class="post-list-component__card-actions">
          <button mat-raised-button color="primary">Voir plus</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ngx-masonry>
</div>
