<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="postList"
     *ngIf="isAuth">
    Liste des posts
  </a>
  <a mat-tab-link
     routerLink="newPost"
     *ngIf="isAuth">
    Créer un post
  </a>
  <a mat-tab-link
     routerLink="signin" *ngIf="!isAuth">
    Connexion
  </a>
  <a mat-tab-link
     (click)="logOut()"
     *ngIf="isAuth"
  >
    Déconnexion
  </a>
  <a mat-tab-link
     routerLink="signup" *ngIf="!isAuth">
    Créer un compte
  </a>
</nav>
